certifi==2019.11.28
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
nltk==3.4.5
numpy==1.17.4
openpyxl==3.0.2
pandas==0.25.3
pymystem3==0.2.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
urllib3==1.25.7
